body {
    font-family:'Courier New', Courier, monospace;
}

.container {
    border: solid 1px black;
    padding: 0px;
    width: 700px;
    margin: 50px auto;
}

div.image {
    display: inline-block;
    vertical-align: top;
    line-height: 0%;
}

.content {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

h1 {
    padding-left: 30px;
}

p {
    padding-left: 30px;
}

